/* #region ***** Variables */
@import url("https://fonts.googleapis.com/css2?family=New+Rocker&family=Shojumaru&family=Skranji:wght@400;700&display=swap");

:root {
  --grad-background: linear-gradient(
    163deg,
    rgba(186, 76, 162, 1) 0%,
    rgba(105, 16, 65, 1) 43%,
    rgba(69, 6, 41, 1) 100%
  );
  --grad-header: radial-gradient(
    circle,
    rgba(69, 6, 41, 1) 0%,
    rgba(105, 16, 65, 1) 57%,
    rgba(69, 6, 41, 1) 100%
  );

  --color-dev: #7e93a5;
  --grad-dev: radial-gradient(
    circle,
    rgb(18, 6, 69) 0%,
    rgb(22, 16, 105) 57%,
    rgb(6, 18, 69) 100%
  );

  --color-trad: #bd8574;
  --grad-trad: radial-gradient(
    circle,
    rgb(69, 10, 6) 0%,
    rgb(105, 26, 16) 57%,
    rgb(69, 31, 6) 100%
  );

  --color-write: #c081a6;
  --grad-write: radial-gradient(
    circle,
    rgb(109, 19, 75) 0%,
    rgb(136, 28, 61) 57%,
    rgb(90, 20, 59) 100%
  );

  --color-main: #ba4ca2;
  --color-dark: #450629;
  --color-accent: #691041;
  --color-shine: #ffbaf0;

  --color-golden: #ebc677;
  --color-faded-gold: #eed5a088;

  --font-soft: "Skranji", system-ui;
  --font-caps: "Shojumaru", system-ui;
  --font-stylish: "New Rocker", system-ui;
}
/* #endregion */

/* #region ***** Animations */

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes reverse-rotating {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.rotating-normal {
  animation: rotating 60s linear infinite;
}

.rotating-reverse {
  animation: reverse-rotating 60s linear infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}

/* #endregion */

/* #region ***** Bases de la page */
body {
  background: var(--grad-background);
  background-size: cover;
  background-attachment: fixed;
  height: calc(100vh - 80px);
  padding-top: 80px;
  width: 90%;
  max-width: 1500px;
  margin: auto;
}
/* #endregion */

/* #region ***** header */
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  padding: 5px;
  background: var(--grad-header);
  width: calc(100vw - 10px);
  display: flex;
  align-items: center;
  gap: 15px;
  z-index: 999;
}

header > svg {
  position: absolute;
  bottom: -32px;
  width: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

header::before,
header::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 40%;
  bottom: 0px;
}

header::before {
  background: linear-gradient(
    to right,
    var(--color-faded-gold),
    var(--color-golden)
  );
  left: 0px;
}

header::after {
  background: linear-gradient(
    to left,
    var(--color-faded-gold),
    var(--color-golden)
  );
  right: 0px;
}

header aside {
  height: 100%;
  width: 120px;
  flex-shrink: 0;
}

header aside img,
header aside span {
  position: absolute;
}

header aside .internal-circle {
  width: 70px;
  left: 30px;
  top: 5px;
  animation: reverse-rotating 30s linear infinite;
}

header aside .external-circle {
  width: 120px;
  left: 5px;
  top: -8px;
  animation: rotating 80s linear infinite;
}

.shiny-font {
  color: var(--color-golden);
  font-family: var(--font-stylish);
  text-shadow: 0px 0px 5px var(--color-faded-gold);
}

header aside span {
  font-weight: 500;
  top: 25px;
  left: 55px;
}

header h1 {
  margin: none;
  min-width: fit-content;
  width: 100%;
  font: 0.9em;
  /* margin-top: -5px; */
}

header h1 span {
  display: block;
  font-family: var(--font-soft);
  font-size: 0.4em;
  text-indent: 20px;
}

.main-buttons {
  width: fit-content;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  gap: 15px;
  position: relative;
  z-index: 2;
}

.main-buttons div {
  background-color: var(--color-dark);
  border-radius: 5px;
  box-shadow: 1px 1px 5px var(--color-faded-gold);
  padding: 3px;
}

.main-buttons div button,
.main-buttons div a {
  border: none;
  background-color: transparent;
  color: var(--color-faded-gold);
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

#english,
#french {
  border: 1px double transparent;
}

.main-buttons div:hover {
  box-shadow:
    1px 1px 5px var(--color-faded-gold),
    inset 1px 1px 2px var(--color-faded-gold);
  cursor: pointer;
}

.contact-info button {
  display: flex;
  align-items: center;
  gap: 5px;
  min-width: 195px;
  justify-content: center;
}

.main-buttons div button:has(svg) {
  padding-bottom: 0px;
}

.main-buttons div a {
  text-decoration: none;
  display: inline-block;
  height: 24px;
}

.main-buttons div button.active {
  border: 1px double var(--color-golden) !important;
  background-color: var(--color-accent);
  box-shadow: inset 2px 2px 5px var(--color-faded-gold);
  filter: brightness(1.1);
}

.main-menu ul {
  display: none;
}
/* #endregion */

/* #region **** Sous-header */
.top-zone aside {
  width: 300px;
  height: 200px;
}

.top-zone .internal-circle {
  width: 160px;
  left: 70px;
  top: 40px;
  z-index: 2;
}

.top-zone .external-circle {
  width: 300px;
}

.top-zone aside img {
  position: absolute;
}

.top-zone .photo {
  top: 65px;
  left: 100px;
  width: 100px;
  border-radius: 50%;
  z-index: 1;
  filter: brightness(1.1) hue-rotate(-30deg);
  opacity: 0.8;
}

.top-zone aside div span {
  display: block;
  margin: auto;
  text-align: center;
  width: 60%;
  font-size: 0.9em;
  z-index: 3;
  color: var(--color-shine);
  text-shadow: 5px 5px 5px var(--color-accent);
  animation: pulse 4s linear infinite;
  position: relative;
  top: 210px;
  backdrop-filter: blur(3px);
  padding: 5px;
  border-radius: 5px;
  font-family: var(--font-soft);
}

/* #endregion */

/* #region ***** Globalité */
button,
a,
span {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

.faded .contact-info button,
.faded h1 span {
  opacity: 0;
}
/* #endregion */

/* #region ***** Fiche de personnage */
.rotation {
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow: visible;
  min-height: 1.2em;
}

.rotator-word {
  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
  transform-origin: 50% 100%;
  filter: blur(4px);
  transform: translateY(0.35em) rotateX(-40deg);
  transition:
    opacity 1.55s,
    transform 1.55s cubic-bezier(0.2, 0.9, 0.25, 1),
    filter 1.55s;
}

.rotation .rotator-word:first-child {
  position: relative;
  opacity: 1;
  filter: blur(0px);
  transform: translateY(0) rotateX(0deg);
}

.rotation .rotator-word.is-exiting {
  opacity: 0.3;
  filter: blur(6px);
  transform: translateY(0.5em) rotateX(-60deg);
}

.top-zone {
  padding: 15px;
  background: var(--grad-header);
  min-height: 150px;
  border: 1px solid var(--color-faded-gold);
  margin: auto;
  margin-top: 50px;
  position: relative;
  overflow: hidden;
}

.top-zone::before,
.top-zone::after {
  content: "";
  display: block;
  height: 15px;
  width: 15px;
  position: absolute;
}

.top-zone::before {
  border-top: 2px solid var(--color-golden);
  border-left: 2px solid var(--color-golden);
  top: -2px;
  left: -2px;
}

.top-zone::after {
  border-bottom: 2px solid var(--color-golden);
  border-right: 2px solid var(--color-golden);
  bottom: -2px;
  right: -2px;
}

.top-zone h2 {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-golden);
  width: calc(100% - 30px);
  margin: auto;
  font-family: var(--font-stylish);
  font-size: 0.9em;
  color: var(--color-faded-gold);
}

.top-zone aside {
  position: absolute;
  right: -50px;
  top: 20px;
  z-index: 5;
}

.top-zone main {
  font-size: 1.9em;
  text-transform: uppercase;
  color: var(--color-faded-gold);
  font-family: var(--font-soft);
  padding: 15px;
  text-shadow: 0px 0px 5px var(--color-faded-gold);
}

.top-zone main .rotation {
  display: block;
  color: var(--color-golden);
}

.main-quote {
  border: 1px solid var(--color-dark);
  border-left: 3px solid var(--color-golden);
  padding: 15px;
  background: var(--grad-header);
  color: var(--color-faded-gold);
  font-style: italic;
  position: relative;
  z-index: 2;
  width: calc(100% - 30px);
  margin: 15px 0px;
}

.main-quote .quote-mark {
  font-size: 2.9em;
  color: var(--color-golden);
  position: absolute;
  top: 0px;
  left: -2px;
}
/* #endregion */

/* #region ***** Onglets */
.tabs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 15px;
}

.tabs button {
  /* padding: 15px; */
  width: calc(33% - 15px);
  height: 125px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--color-golden);
  font-size: 1.2em;
  font-family: var(--font-stylish);
  border: 1px solid var(--zone-color);
  background: var(--zone-grad);
  min-width: 230px;
  cursor: pointer;
}

#dev,
.dev {
  --zone-grad: var(--grad-dev);
  --zone-color: var(--color-dev);
}

#trad,
.trad {
  --zone-grad: var(--grad-trad);
  --zone-color: var(--color-trad);
}

#writer,
.writer {
  --zone-color: var(--color-write);
  --zone-grad: var(--grad-write);
}

.tabs button .subtitle {
  font-size: 0.6em;
}

.tabs button .tab-title {
  border-bottom: 1px dashed var(--zone-color);
  width: calc(100% - 10px);
  display: flex;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-family: var(--font-soft);
  font-size: 0.5em;
  justify-content: space-between;
}

.tabs button > div {
  display: flex;
  gap: 15px;
}

.tabs button svg {
  padding: 10px;
  background: var(--zone-grad);
  border: 1px solid var(--zone-color);
  float: left;
  margin-left: 5px;
}

.tabs button .subtitle {
  display: block;
}

.tabs button footer {
  display: flex;
  align-items: center;
  margin-top: 10px;
  border-top: 1px solid rgba(128, 128, 128, 0.349);
  font-size: 0.6em;
  width: 100%;
  padding: 5px;
  color: var(--zone-color);
  text-align: left;
  line-height: 1em;
}

.tabs button footer::before {
  content: "—";
  font-size: 2em;
  margin-right: 5px;
}

.tabs button.active {
  box-shadow: 1px 1px 15px var(--zone-color);
}

.tabs button.active .tab-title::after {
  content: var(--tab-selected-text);
  color: var(--zone-color);
  filter: brightness(1.2);
  text-shadow: 0px 0px 5px var(--zone-color);
  font-size: 1.2em;
  margin-top: -3px;
}
/* #endregion */

/* #region ***** Projets */
.rotating-images {
  position: relative;
  width: 100%;
  max-width: 600px;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.empty-image {
  width: 100%;
  height: 70px;
}

.rotating-images::before,
.slide-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rotating-images::before {
  content: "";
  display: block;
  background: var(--zone-grad);
  opacity: 0.3;
  z-index: 20;
  filter: brightness(5);
}

.slide-img {
  object-fit: cover;
  transition:
    transform 0.8s cubic-bezier(0.25, 1, 0.5, 1),
    opacity 0.8s ease;
  transform: translateX(0);
  opacity: 1;
  image-rendering: smooth;

  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
}

.slide-img.slide-out {
  transform: translateX(-100%);
  opacity: 0;
}

.project-element:hover .slide-img:not(.slide-out) {
  transform: scale(1.1);
}

.project-zone {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 25px;
  margin: 40px 7px 20px 7px;
  flex-wrap: wrap;
}

.project-zone article {
  max-width: calc(50% - 20px);
  width: 400px;
  /* padding: 10px; */
  border: 1px solid var(--zone-color);
  background: var(--zone-grad);
  position: relative;
}

.project-element h2 {
  margin: 0px;
  padding: 10px;
  text-align: center;
  font-family: var(--font-stylish);
  color: var(--color-golden);
  font-size: 1.1em;
}

.project-element main {
  padding: 10px;
  color: var(--zone-color);
  font-family: var(--font-soft);
  text-align: justify;
  font-size: 0.8em;
}

.project-skills,
.project-link {
  display: flex;
  align-items: center;
  gap: 15px;
}

.project-skills {
  justify-content: center;
  flex-wrap: wrap;
}

.project-skills span {
  padding: 3px 10px;
  border-radius: 5px 10px;
  background-color: #ffffff49;
  border: 1px solid var(--color-golden);
  color: var(--color-golden);
  font-family: var(--font-soft);
  font-size: 0.6em;
}

.project-skills span::before {
  content: "• ";
}

.project-skills span::after {
  content: " •";
}

.project-link {
  position: absolute;
  top: 5px;
  z-index: 30;
  justify-content: space-between;
  align-items: flex-start;
  width: calc(100% - 20px);
  padding: 5px 10px;
}

.project-link a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background: var(--zone-grad);
  border: 1px solid var(--zone-color);
  border-radius: 5px;
  color: var(--color-golden);
  transition: transform 0.2s ease;
}

.project-link a:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}

.project-tags {
  border-top: 1px dashed var(--zone-color);
  padding: 5px;
  color: var(--zone-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
  font-size: 0.6em;
  font-family: var(--font-soft);
}

/* #endregion */
